<tr class="forum">
  <td class="forumname">
    <%= list_forum.name %><br/>
    <%= list_forum.description %>
  </td>
  <td class="forumtopics">
    TODO
  </td>
  <td class="forumposts">
    TODO
  </td>
  <td class="forumlastpost">
    TODO
  </td>
</tr>
