<tr class="forum">
  <td class="forumname">
    <%= link_to list_forum.name, url(:forums, :show, list_forum.id) %><br/>
    <%= list_forum.description %>
  </td>
  <td class="forumtopics">
    TODO
  </td>
  <td class="forumposts">
    TODO
  </td>
  <td class="forumlastpost">
    TODO
  </td>
</tr>
