<p class="new-topic"><%= link_to image_tag("icons/new.png") + "&nbsp".html_safe + I18n.t("forums.new_topic"), url(:topics, :new) + "?" + "forum=#{@forum.id}"%></p>
<h1><%= @forum.name %></h1>

<table class="topicslist">
  <thead>
    <tr>
      <th class="list-topic">Topic</th>
      <th class="list-replies numbercell">Replies</th>
      <th class="list-views numbercell">Views</th>
      <th class="forumlastpost"><%= I18n.t("forums.lastpost") %></th>
    </tr>
  </thead>
  <tbody>
    <%= partial "topics/forum_topic", :collection => @topics %>
  </tbody>
</table>
