<% if env["warden"].authenticated? %>
  <p class="new-topic"><%= link_to I18n.t("forums.new_topic"), url(:topics, :new) + "?" + "forum=#{@forum.id}", :class => "button-normal" %></p>
<% end %>
<h1><%= @forum.name %></h1>

<table class="topicslist">
  <thead>
    <tr>
      <th class="list-icon imgcell"></th>
      <th class="list-topic">Topic</th>
      <th class="list-replies numbercell">Replies</th>
      <th class="list-views numbercell">Views</th>
      <th class="forumlastpost"><%= I18n.t("forums.lastpost") %></th>
    </tr>
  </thead>
  <tbody>
    <%= partial "topics/forum_topic", :collection => @topics %>
  </tbody>
</table>
