<h3><%= t.admin.administration %></h3>

<ul>
  <li><a href="/admin/forums"><%= t.admin.forums.title %></a></li>
  <li><a href="/admin/tags"><%= t.admin.tags %></a></li>
  <li><a href="/admin/bans"><%= t.admin.bans %></a></li>
</ul>
