<h1>404: Not Found</h1>

<blockquote>
  My hour is almost come<br/>
  When I to sulphrous and tormenting flames<br/>
  Must render up myself.<br/>
  <br/>
  <span style="font-style: italic">― William Shakespeare (in: Hamlet)</span>
</blockquote>
