<h1>500: Internal Server Error</h1>

<blockquote>
The belief in a certain idea gives to the researcher the support for
his work. Without this belief he would be lost in a sea of doubts and
insufficiently verified proofs.

<span style="font-style: italic">― Konrad Zuse (in: Die Erfindergalerie)</span>
</blockquote>
