<% content_for :header do %>
  <script type="text/javascript" src="/javascripts/attachments.js"></script>
<% end %>

<% if @attachment_error %>
  <p class="flash alert"><%= @attachment_error %></p>
<% end %>

<h1><%= t.posts.new %></h1>

<%= erb :_reply_form, :locals => {:suggested_title => "", :suggested_content => "", :tags => @tags, :target => "/forums/#{@forum.id}/posts"} %>
