<h3><%= I18n.t("general.administration") %></h3>

<ul>
  <li><%= link_to I18n.t("admin.configuration.configuration"), url(:administration, :configuration) %></li>
  <li><%= link_to I18n.t("admin.users.users"), url(:administration, :index_users) %></li>
  <li><%= link_to I18n.t("admin.forum_groups.forum_groups"), url(:administration, :index_forum_groups) %>
</ul>
