<tr class="forum-topic">
  <td class="list-topic">
    <%= forum_topic.title %><br/>
    <%= I18n.t("forums.author_by") %> <%= link_to forum_topic.author.nickname, "/" %>
  </td>
  <td class="list-replies numbercell">TODO</td>
  <td class="list-views numbercell">TODO</td>
  <td class="forumlastpost">TODO</td>
</tr>
