<h1><%= I18n.t("search.results") %></h1>

<table class="topicslist">
  <thead>
    <tr>
      <th class="list-icon imgcell"></th>
      <th class="list-topic">Topic</th>
      <th class="list-replies numbercell">Replies</th>
      <th class="list-views numbercell">Views</th>
      <th class="forumlastpost"><%= I18n.t("forums.lastpost") %></th>
    </tr>
  </thead>
  <tbody>
    <%= partial "topics/forum_topic", :collection => @topics, :locals => {:urlquerystr => "hilit=#{CGI.escape(@search_term)}"} %>
  </tbody>
</table>
