<p class="post-forum"><%= link_to "â† #{@topic.forum.name}", url(:forums, :show, @topic.forum.id) %></p>
<h1><%= @topic.title %></h1>

<% @topic.posts.order("created_at ASC").each_with_index do |post, i| %>
  <%= partial "posts/show", :locals => {:post => post, :i => i} %>
<% end %>

<% if env["warden"].authenticated? %>
  <%= partial "posts/new", :locals => {:post => Post.new, :topic => @topic} %>
<% end %>
