$sansfont: Helvetica, sans-serif;
$fontsize: 12pt;
$smallfontsize: 10pt;
$lightgrey: #EEEEEE;
$darkgrey: #AAAAAA;

@mixin vlist {
    margin: 0px;
    list-style-type: none;
    padding: 0px;

    li {
	display: inline;
	margin-left: 4px;
    }
}

// Navigations-UL muss vlist sein
// #footer ul muss vlist sein
// .topic-actions muss vlist sein
// .topic-pages muss vlist sein
// .forum-pages muss vlist sein
// .post-actions muss vlist sein
// .buttons muss vlist sein
