<h1>Confirm registration</h1>

<% form_tag url(:users, :confirm, @user.nickname), :method => :patch do %>

  <p>
    <label id="token">Token:</label>
    <%= text_field_tag "token", :value => params["token"] %>
  </p>

  <p class="submit-separator">
    <%= submit_tag "Confirm", :class => "button-ok" %>
  </p>

<% end %>
