<h3>Moderation</h3>

<ul>
  <li><%= link_to "Reports", url(:reports, :index) %></li>
  <li><%= link_to "Warnings", url(:warnings, :index) %></li>
  <li><%= link_to I18n.t("bans.bans"), url(:bans, :index) %></li>
</ul>
