@import "variables.scss";
@import "buttons.scss";
@import "coderay.scss";

body {
    font-family: $sansfont;
    font-size: $fontsize;
}

h1 {
    border-bottom: 1px solid black;
    font-size: 150%;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

a {
    color: #0b8ae1;
    text-decoration: none;
    font-weight: bold;

    &:hover {
	color: #520ebb;
    }

    img {
	vertical-align: text-top;
    }
}

blockquote {
    border: 1px solid gray;
    border-left: 3px solid gray;
    background-color: white;
    padding: 0px 4px;
    font-style: italic;
}

input[type='text'], input[type='password'] {
    width: 50%;
}

textarea {
    width: 50%;
    height: 200px;
}

form {
    border: 1px solid black;
    background-color: $lightgrey;
    padding: 4px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid $darkgrey;

    thead {

	tr {
	    border-bottom: 1px solid black;
	    background-color: $darkgrey;

	    th {
		text-align: left;
	    }
	}
    }

    tbody {
	tr {
	    border-top: 1px solid $darkgrey;

	    &:first {
		border-top: none;
	    }

	    td {
		text-align: left;
	    }
	}
    }
}

table.CodeRay {
    font-size: $smallfontsize;
}

td.line-numbers pre {
    background-color: hsl(180,65%,90%) !important;
}

code, pre {
  background-color: hsl(0,0%,95%);
  border: 1px solid silver;
  color: black;
  font-size: $smallfontsize;
}

pre code {
    border: none;
}

.CodeRay pre {
    margin: 0px;
    border: none;
}

#header {
    border: 1px solid black;
    background-color: $lightgrey;
    padding: 4px;

    p {
	margin: 0px;
    }
}

#title {
    font-size: 150%;
}

#navigation {
    border: {
	left: 1px solid black;
	right: 1px solid black;
	bottom: 1px solid black;
    }

    background-color: black;
    padding: 4px;

    ul {
	@include vlist;

	li a {
	    color: $lightgrey;
	    text-decoration: none;
	    font-weight: bold;

	    &:hover {
		text-decoration: underline;
	    }
	}
    }
}

#footer {
    margin-top: 10px;
    padding-top: 4px;
    font-size: $smallfontsize;
    border-top: 1px dashed $darkgrey;
    color: $darkgrey;

    ul {
	@include vlist;
    }

    a {
	color: #AAAAAA;

	&:hover {
	    color: black;
	}
    }
}

#sidebar {
    float: left;
    width: 20%;
}

.with-sidebar {
    margin-left: 21%;
}

#time {
    float: right;
    text-align: right;

    p {
	margin: {
	    left: 0px;
	    top: 0px;
	    bottom: 0px;
	    right: 2px;
	}
    }
}

.forumgroup {
    margin-bottom: 8px;
    border: 1px solid black;
    background-color: $lightgrey;

    .forumgroupname {
	margin: 0px;
	border-bottom: 1px solid black;
	background-color: black;
	color: white;
	padding-left: 4px;
    }
}

.notice {
    border: 1px solid #00681c;
    background-color: #77e494;
}

.alert {
    border: 1px solid #b5340e;
    background-color: #e48177;
}

.flash {
    border-radius: 10px;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;

    p { margin: 0px; }
}

.forumlist {
    table-layout: fixed;

    .forumname { padding-left: 4px; }
}

.topicslist {
    table-layout: fixed;

    .list-topic { padding-left: 4px; }
}

.numbercell { width: 7%; text-align: center; }
.imgcell { width: 24px; text-align: center; vertical-align: middle }
.forumlastpost { width: 11%; }

#login-info {
    margin-left: 2px;
}

.topic {
}

.clear {
    clear: both;
}

.post {
    margin-top: 8px;
    border: 1px solid black;
    background-color: $lightgrey;

    width: 100%;
    display: table;
    table-layout: fixed;
}

.post-created {
    float: right;
}

.header {
    border-bottom: 1px solid black;
    background-color: $darkgrey;
    color: $lightgrey;
    padding: 0px 4px 0px 4px;

    p { margin: 0px; }
}

.post-header {
}

.post-author {
    width: 15%;
    display: table-cell;
    padding-left: 4px;
    p { margin: 0px; }
}

.post-content {
    border-left: 1px solid black;
    display: table-cell;
}

.post-text {
    padding-left: 4px;
}

.author-name {
    font-weight: bold;
}

.author-membership {
    font-size: 11pt;
}

.author-registered {
    font-size: $smallfontsize;
}

.post-author p.author-registered {
    margin-top: 4px;
}

.author-posts {
    font-size: $smallfontsize;
}

.post-forum {
    font-size: $smallfontsize;
    margin: {
	top: 12px;
	bottom: -12px;
    }
}

.top-right-nav {
    margin: 0px;
    float: right;
    position: relative;
    top: -4px;
    font-size: $smallfontsize;
}

.setting {
    margin-bottom: 10px;
}

.settings-form {
    padding: 0px;
}

.settings-desc {
    padding: 4px;
}

.settings-content {
    padding: 4px;
}

.submit-separator {
    border-top: 1px dashed $darkgrey;
    padding-top: 4px;
    padding-left: 4px;
}

.quickreply-form {
    margin-top: 10px;

    h2 { margin-top: 0px; }
}

.topic-actions {
    @include vlist;
    margin-top: 4px;
    text-align: right;
}

.topic-pages {
    @include vlist;
}

.topic-pages-topic {
    float: left;
}

.topic-pages-forum {
    display: inline;

    li:first-child { margin-left: 0px; }
}

.post-actions {
    @include vlist;
    float: right;
    margin-top: 4px;
    margin-right: 4px;

    li {
	margin-left: 4px;
    }
}

.post-ip {
    float: right;
    color: #b6a23c;
    font-style: italic;
    font-size: small;
    margin: 0px 4px 0px 4px;
}

.mods {
    font-style: italic;
    font-size: small;
}

.signature {
    border-top: 1px dashed $darkgrey;
    font-size: small;
    color: $darkgrey;

    padding: 0px 4px;
}

.search-results {
    margin-top: 8px;
    border: 1px solid black;
    background-color: $lightgrey;
    padding: 4px;

    ul {
	list-style-type: none;
	padding: 0px;

	li {
	    display: inline;
	    margin-left: 4px;
	}
    }
}

/****** Profile page *******/

.profile-user-signature {
    margin-top: 10px;
}

.user-profile {
    border: 1px solid black;
    background-color: $lightgrey;
    padding: 4px;
}

.profile-avatar {
    border: 1px solid black;
    background-color: white;

    .profile-nickname {
	font-weight: bold;
    }
}

.profile-system-info {
    min-width: 100px; /* avatar max size 80x80px */
    width: 5%;
    float: right;
    text-align: center;
}

.profile-user-stats {
    clear: right;
}

/********* reports *********/
.report {
    border: 1px solid black;
    margin-bottom: 6px;
    background-color: $lightgrey;
    padding: 4px;

    p.report-intro { margin-top: 0px; }
}

.report-post-content {
    border: 1px solid black;
    background-color: white;
    padding: 4px;

    p.report-author { margin-top: 0px; }
}

.buttons {
    @include vlist;
    margin-top: 6px;
}

/********** warnings **********/

.warning {
    border: 1px solid black;
    background-color: $lightgrey;
    margin-bottom: 6px;

    p.warning-header {
	margin-top: 0px;
	background-color: $darkgrey;
    }

    p.warning-reason {
	padding: 4px;
    }
}

/****** Topic status *******/

.topic-announcement {
    background-color: #efc06b;
}

.topic-sticky {
    background-color: #DDDDDD;
}

/********** Preview **********/

div.preview {
    margin-top: 4px;
    border: 1px solid black;
    background-color: $lightgrey;
    background-image: url("/images/misc/draft.png");
    display: none; /* shown on preview */
    padding: 4px;
}