<h3><%= I18n.t("settings.settings") %></h3>

<ul>
  <li><%= link_to I18n.t("settings.main_settings"), url(:settings, :main) %></li>
  <li><%= link_to I18n.t("settings.avatar_settings"), url(:settings, :avatar) %></li>
</ul>
