<% content_for :sidebar do %>
  <%= partial "misc/personal_sidebar" %>
<% end %>

<h1><%= I18n.t("warnings.warnings") %></h1>

<% if @warnings.empty? %>
  <p><%= I18n.t("warnings.no_warnings") %></p>
<% else %>

<%= partial "warnings/list_warning", :collection => @warnings %>

<% end %>
