<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= @pagetitle || "Chessboard" %></title>
  </head>
  <body>
    <div id="navigation">
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
